<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div id="heading">
        <h1>TODO App</h1>
    </div>

    <form action="/create_list" method="post">

        <div id="description">
            <div>
                <label for="description"><b>DESCRIPTION</b></label>
            </div>
            <div>
                <input type="text" name="description" placeholder="What do you need to do?">
            </div>
        </div>


        <div id="container2">
            <div id="category-box">
                <div>
                    <label for="category"><b>CATEGORY</b></label>
                </div>
                <div>
                    <select name="category" id="category">
                        <option value="Choose a Category">Choose a Category</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
            </div>


            <div id="date-box">
                <div>
                    <label for="date"><b>DUE DATE</b></label>
                </div>
                <div>
                    <input type="date" name="date" id="date">
                </div>
            </div>

        </div>

        <div class="buttons">
            <button id="add-btn" type="submit"><i class="fa-solid fa-plus"></i> ADD TASK</button>
        </div>
    </form>

    <form action="/delete" method="post">

        <div id="list-box">
            <% for(let i of todolist){ %> 
                <div class="item">
                    <div class="item1">
                        <input type="checkbox" name="check" value="<%=i.id%>">
                    </div>
                    <div class="item2">
                        <div>
                            <label for="check"><b><%= i.description %></b></label>
                            <p id="date"><%= i.date %></p>
                        </div>
                        <div>
                            <div id="list-category">
                                <b><%= i.category %></b>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>

        <div class="buttons">
            <button id="del-btn" type="submit"><i class="fa-solid fa-trash-can"></i> DELETE TASK</button>
        </div>

    </form>

    <script src="/assets/js/script.js"></script>
</body>
</html>